<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name" nzRequired>
      <span class="fs-5">Name</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
      <input class="fs-6" nz-input id="name" formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label class="fs-5" [nzSm]="8" [nzXs]="24" nzRequired nzFor="email"><span class="fs-5">E-mail</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input class="fs-6" nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label class="fs-5" [nzSm]="8" [nzXs]="24" nzFor="address"><span class="fs-5">Address</span></nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your address!">
      <textarea class="fs-6" nz-input formControlName="address" id="address" rows="2"
        placeholder="1234 abcd road"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label class="fs-5" [nzSm]="8" [nzXs]="24" nzFor="password" nzRequired><span class="fs-5">Password</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
      <input class="fs-6" nz-input type="password" id="password" formControlName="password"
        (ngModelChange)="updateConfirmValidator()" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label class="fs-5" [nzSm]="8" [nzXs]="24" nzFor="checkPassword" nzRequired><span class="fs-5">Confirm
        Password</span></nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input class="fs-6" nz-input type="password" formControlName="checkPassword" id="checkPassword" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label class="fs-5" [nzSm]="8" [nzXs]="24" nzFor="phoneNumber" nzRequired><span class="fs-5">Phone
        Number</span></nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']"
      nzErrorTip="Please input your phone number!">
      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select class="fs-6" formControlName="phoneNumberPrefix" class="phone-select">
            <nz-option nzLabel="+91" nzValue="+91"></nz-option>
          </nz-select>
        </ng-template>
        <input class="fs-6" formControlName="phoneNumber" id="'phoneNumber'" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label class="fs-5" [nzSm]="8" [nzXs]="24"><span class="fs-5">Date of Birth</span></nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select date!">
      <nz-date-picker class="fs-6" id="DOB" nz-input formControlName="DOB"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzFor="gender" nzRequired><span class="fs-5">Gender</span></nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Please select Gender!">
      <nz-select
        id="gender" class="fs-6"
        formControlName="gender"
        nzPlaceHolder="Select Gender"
        (ngModelChange)="genderChange($event)" >
        <nz-option nzValue="Male" nzLabel="Male"></nz-option>
        <nz-option nzValue="Female" nzLabel="Female"></nz-option>
        <nz-option nzValue="Other" nzLabel="Other"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzFor="role" nzRequired><span class="fs-5">Role</span></nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Please select Role!">
      <nz-select
        id="role" class="fs-6"
        formControlName="role"
        nzPlaceHolder="Select Role"
        (ngModelChange)="roleChange($event)" >
        <nz-option nzValue="Admin" nzLabel="Admin"></nz-option>
        <nz-option nzValue="User" nzLabel="User"></nz-option>
        <nz-option nzValue="Super Admin" nzLabel="Super Admin"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label class="fs-5" [nzSm]="8" [nzXs]="24"><span class="fs-5">Date of Joining</span></nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select date!">
      <nz-date-picker class="fs-6" id="DOJ" nz-input formControlName="DOJ"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="8">
      <button nz-button nzType="primary">Save</button>
      <button class="mx-md-2" nzType="primary" nz-button (click)="resetForm($event)" nzDanger>Reset</button>
    </nz-form-control>
  </nz-form-item>
  <!-- <nz-upload class="avatar-uploader" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nzName="avatar"
    nzListType="picture-card" [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload"
    (nzChange)="handleChange($event)">
    <ng-container *ngIf="!avatarUrl">
      <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
      <div class="ant-upload-text">Upload</div>
    </ng-container>
    <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
  </nz-upload> -->
</form>
