.login-form {
  max-width: 450px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

nz-alert {
  margin-bottom: 16px;
}

.login-card{
  max-width: 600px;
}

.backGround {
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

