<div class="bg-dark py-5 backGround">
  <div class="login-form card m-auto w-75 login-card bg-light">
    <div class="text-center mb-2">
      <img nz-image width="300px" height="300px" nzSrc="assets/images/login.png" alt="login-card" />
    </div>

    <nz-alert nzType="error" nzMessage="Error" [hidden]="error"
    nzDescription="{{errorMgs}}" nzShowIcon></nz-alert>

    <nz-alert nzType="success" nzMessage="Success" [hidden]="success"
    nzDescription="{{successMgs}}"
    nzShowIcon></nz-alert>

    <form class="m-auto w-75" nzLayout="vertical" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" [hidden]="hideFrom">

      <nz-form-item>
        <nz-form-label nzFor="name" nzRequired>
          <span class="fs-5">Name</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Please input your name!">
          <input class="fs-6" nz-input id="name" formControlName="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="fs-5" nzRequired nzFor="email"><span class="fs-5">E-mail</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid E-mail!">
          <input class="fs-6" nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="fs-5" nzFor="address"><span class="fs-5">Address</span></nz-form-label>
        <nz-form-control  nzErrorTip="Please input your address!">
          <textarea class="fs-6" nz-input formControlName="address" id="address" rows="2"
            placeholder="1234 abcd road"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="fs-5" nzFor="password" nzRequired><span class="fs-5">Password</span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="errorPassword">
          <input class="fs-6" nz-input type="password" id="password" formControlName="password" minlength="8" maxlength="30"
            (ngModelChange)="updateConfirmValidator()" />
            <ng-template #errorPassword let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please input your password!
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                Password must be between 8 to 30 characters long!
              </ng-container>
            </ng-template>
          </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="fs-5" nzFor="checkPassword" nzRequired><span class="fs-5">Confirm
            Password</span></nz-form-label>
        <nz-form-control [nzErrorTip]="errorTpl">
          <input class="fs-6" nz-input type="password" formControlName="checkPassword" id="checkPassword" />
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please confirm your password!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Two passwords that you enter is inconsistent!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="fs-5" nzFor="phoneNumber" nzRequired><span class="fs-5">Phone
            Number</span></nz-form-label>
        <nz-form-control [nzValidateStatus]="validateForm.controls['phoneNumber']"
          nzErrorTip="Please input your phone number!">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select class="fs-6" formControlName="phoneNumberPrefix" class="phone-select">
                <nz-option nzLabel="+91" nzValue="+91"></nz-option>
              </nz-select>
            </ng-template>
            <input class="fs-6" formControlName="phoneNumber" id="'phoneNumber'" nz-input maxlength="10"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="fs-5" ><span class="fs-5">Date of Birth</span></nz-form-label>
        <nz-form-control nzErrorTip="Please select date!">
          <nz-date-picker class="fs-6 col-md-12" id="DOB" nz-input formControlName="DOB"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="gender" nzRequired><span class="fs-5">Gender</span></nz-form-label>
        <nz-form-control nzErrorTip="Please select Gender!">
          <nz-select
            id="gender" class="fs-6"
            formControlName="gender"
            nzPlaceHolder="Select Gender"
            (ngModelChange)="genderChange($event)" >
            <nz-option nzValue="Male" nzLabel="Male"></nz-option>
            <nz-option nzValue="Female" nzLabel="Female"></nz-option>
            <nz-option nzValue="Other" nzLabel="Other"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control class="text-center" >
          <button nzType="primary" class="btn btn-success">Submit</button>
          <button class="mx-md-2" nzType="primary" (click)="resetForm($event)" class="btn btn-danger mx-2">Reset</button>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-upload class="avatar-uploader" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nzName="avatar"
        nzListType="picture-card" [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload"
        (nzChange)="handleChange($event)">
        <ng-container *ngIf="!avatarUrl">
          <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
      </nz-upload> -->
    </form>

  </div>
  </div>
